SECRET_KEY=replace-with-a-long-random-secret
DEBUG=False
ALLOWED_HOSTS=api.lalaharihealth.com
CORS_ALLOWED_ORIGINS=https://lalaharihealth.com
CSRF_TRUSTED_ORIGINS=https://lalaharihealth.com,https://api.lalaharihealth.com
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
DB_ENGINE=django.db.backends.postgresql
DB_NAME=lalaharihealth_db
DB_USER=lalaharihealth_user
DB_PASSWORD=LalaHari@2026
DB_HOST=127.0.0.1
DB_PORT=5432
DB_CONN_MAX_AGE=60
